.App {
  text-align: center;
 
}
body{
  /* margin:0; */
  height:100vh;
  background-color: beige;
}
.btn{
  font-size:1rem;
padding:.8em;
background-color:blanchedalmond;
outline:none;
border:none;
border-radius: 10px;
cursor:pointer;
}
.btn:hover{
  background-color:black;
  color:white;
}
.increase{
  margin-right:.4em;
}

